<!DOCTYPE html>
<html layout:decorate="~{layouts/layout}">
    <head>
        <title>Home Page</title>
       
    </head>
    <body>

                <div class="text-center" layout:fragment="content">
                   <div class="jumbotron p-3 p-md-5 rounded text-light bg-dark">
                   <div class="col-md-6 px-0">
                    <h3 class="display-4 font-italic">Welcome To Joey's Review Blog! </h3>
                    <p class="lead my-3">Feel Free To Read my review on the most recent blockbusters
                     and discuss your opinions</p>
                     <p class="lead mb-0">
                      <a href="#" class="text-white font-weight-bold">Read my most recent review...</a>
                     </p>
                    </div>
                   </div>
                   <div class="row">

                      <div class="col">
                    <span th:if="${filmReviews == null}">nothing Found</span>
                      <div th:each="filmReview: ${filmReviews}" class="d-flex flex-column">
                      <div class="rounded shadow border p-2">
                        <div class="row">
                        <a class="col" th:href="@{/review/{id}(id=${filmReview.Review_ID})}">
                        <h2 th:text="${filmReview.title}"></h2>
                        </a>
                        <span class="col-sm-auto" th:text="${filmReview.review_date}"></span>
                        </div>
                        <div class="row m-3">
                        <p th:text="${filmReview.details}"></p>
                        </div>
                        <div class="row">
                        <span class="col"></span>
                        <span class="col-auto" th:text="${filmReview.rating}"></span>
                        </div>
                      </div>
                      </div>
                      </div>
                      <div class="col-md-auto m-2">
                            <th:block layout:insert="~{fragments/sidenav}"/>
                      </div>
                   </div>
                </div>

    </body>
</html>